	<div class="row">
		<div class="large-8 medium-10 small-11 large-centered medium-centered small-centered columns" id="amplitude-player">
			<div class="row">
				<div class="large-6 medium-6 small-12 columns" id="amplitude-left">
					<img amplitude-song-info="cover_art_url" amplitude-main-song-info="true"/>
					<div id="player-left-bottom">
						<div id="time-container">
							<span class="current-time">
								<span class="amplitude-current-minutes" amplitude-main-current-minutes="true"></span>:<span class="amplitude-current-seconds" amplitude-main-current-seconds="true"></span>
							</span>
							<input type="range" class="amplitude-song-slider" amplitude-main-song-slider="true" step=".1"/>
							<span class="duration">
								<span class="amplitude-duration-minutes" amplitude-main-duration-minutes="true"></span>:<span class="amplitude-duration-seconds" amplitude-main-duration-seconds="true"></span>
							</span>
						</div>

						<div id="control-container">
							<div id="repeat-container">
								<div class="amplitude-repeat" id="repeat"></div>
							</div>

							<div id="central-control-container">
								<div id="central-controls">
									<div class="amplitude-prev" id="previous"></div>
									<div class="amplitude-play-pause" amplitude-main-play-pause="true" id="play-pause"></div>
									<div class="amplitude-next" id="next"></div>
								</div>
							</div>

							<div id="shuffle-container">
								<div class="amplitude-shuffle amplitude-shuffle-off" id="shuffle"></div>
							</div>
						</div>

						<div id="meta-container">
							<span amplitude-song-info="name" amplitude-main-song-info="true" class="song-name"></span>

							<div class="song-artist-album">
								<span amplitude-song-info="artist" amplitude-main-song-info="true"></span>
								<span amplitude-song-info="album" amplitude-main-song-info="true"></span>
							</div>
						</div>
					</div>
				</div>
				<div class="large-6 medium-6 small-12 columns" id="amplitude-right" style="max-height: 645px">
					<div class="song amplitude-song-container amplitude-play-pause" amplitude-song-index="0">
						<div class="song-now-playing-icon-container">
							<div class="play-button-container">

							</div>
							<img class="now-playing" src="/assets/now-playing.svg"/>
						</div>
						<div class="song-meta-data">
							<span class="song-title">Risin' High (feat Raashan Ahmad)</span>
							<span class="song-artist">Ancient Astronauts</span>
						</div>
						<a href="https://switchstancerecordings.bandcamp.com/track/risin-high-feat-raashan-ahmad" class="bandcamp-link" target="_blank">
							<img class="bandcamp-grey" src="/assets/bandcamp-grey.svg"/>
							<img class="bandcamp-white" src="/assets/bandcamp-white.svg"/>
						</a>
						<span class="song-duration">3:30</span>
					</div>
					
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<%= link_to 'Back', :back %>
	</div>

</body>
<script type="text/javascript">
	Amplitude.init({
		"songs": [
		{
			"name": "Risin' High (feat Raashan Ahmad)",
			"artist": "Ancient Astronauts",
			"album": "We Are to Answer",
			"url": "/uploads/song/song_url/101/Noi-Nay-Co-Anh-Son-Tung-M-TP.mp3",
			"cover_art_url": "/assets/default_song.png"
		},
		{
			"name": "The Gun",
			"artist": "Lorn",
			"album": "Ask The Dust",
			"url": "../songs/08 The Gun.mp3",
			"cover_art_url": "/assets/default_song.png"
		},
		{
			"name": "Anvil",
			"artist": "Lorn",
			"album": "Anvil",
			"url": "../songs/LORN - ANVIL.mp3",
			"cover_art_url": "/assets/default_song.png"
		},
		{
			"name": "I Came Running",
			"artist": "Ancient Astronauts",
			"album": "We Are to Answer",
			"url": "../songs/ICameRunning-AncientAstronauts.mp3",
			"cover_art_url": "/assets/default_song.png"
		},
		{
			"name": "First Snow",
			"artist": "Emancipator",
			"album": "Soon It Will Be Cold Enough",
			"url": "../songs/FirstSnow-Emancipator.mp3",
			"cover_art_url": "/assets/default_song.png"
		},
		{
			"name": "Terrain",
			"artist": "pg.lost",
			"album": "Key",
			"url": "../songs/Terrain-pglost.mp3",
			"cover_art_url": "/assets/default_song.png"
		},
		{
			"name": "Vorel",
			"artist": "Russian Circles",
			"album": "Guidance",
			"url": "../songs/Vorel-RussianCircles.mp3",
			"cover_art_url": "/assets/default_song.png"
		},
		{
			"name": "Intro / Sweet Glory",
			"artist": "Jimkata",
			"album": "Die Digital",
			"url": "../songs/IntroSweetGlory-Jimkata.mp3",
			"cover_art_url": "/assets/default_song.png"
		},
		{
			"name": "Offcut #6",
			"artist": "Little People",
			"album": "We Are But Hunks of Wood Remixes",
			"url": "../songs/Offcut6-LittlePeople.mp3",
			"cover_art_url": "/assets/default_song.png"
		},
		{
			"name": "Dusk To Dawn",
			"artist": "Emancipator",
			"album": "Dusk To Dawn",
			"url": "../songs/DuskToDawn-Emancipator.mp3",
			"cover_art_url": "/assets/default_song.png"
		},
		{
			"name": "Anthem",
			"artist": "Emancipator",
			"album": "Soon It Will Be Cold Enough",
			"url": "../songs/Anthem-Emancipator.mp3",
			"cover_art_url": "/assets/default_song.png"
		}
		]
	});

</script>