//
// This is a manifest file that'll be compiled into application.css, which will include all the files
// listed below.
//
// Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
// vendor/assets/stylesheets directory can be referenced here using a relative path.
//
// You're free to add application-wide styles to this file and they'll appear at the bottom of the
// compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
// files in this directory. Styles in this file should be added after the last require_* statement.
// It is generally better to create a new file per style scope.
//
//= require_self
//= require font-awesome
//= require toastr
//= require 'masonry/transitions'
//= require_tree .

@import "font-awesome";
@import "materialize";
@import "bootstrap-sprockets";
@import "bootstrap";
@import "froala_editor.min";
@import "froala_style.min";
@import "toastr";
@import 'plugins/image.min.css';

@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');
@import url('https://fonts.googleapis.com/css?family=Pacifico');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,300,500');
@import url('https://fonts.googleapis.com/css?family=Montserrat');

$strongGreen: #3cac94;
$gray-darker: #e1e1e1;
$gray-lighter: #f7f7f7;
$white: #fff;
$alert: #f0ad4e;
$notice: #31b0d5;
$black: #000;
$shadow-color: #bbb;

::-webkit-scrollbar {
  width: 4px;
  background-color: $shadow-color;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: 3px 0 0 2px $shadow-color; 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: 1px 0 0 1px $shadow-color; 
}

@keyframes fadein {
	from {
			opacity: 0;
	}
	to {
			opacity: .9;
	}
}

input[type=password]:not(.browser-default):focus:not([readonly]) + label {
	color: $black !important;
}

.toast {
	display: inline-block;
	font-size: 1.1em;
	opacity: .9;
	position: absolute;
	right: 10px;
	top: 35px;
	animation: fadein .5s;
}

.toast-notice {
	background-color: $notice !important;
}

.toast-alert {
	background-color: $alert !important;
}

body {
	background-color: $gray-lighter;
}

.second-row {
	display: inline-block;
	width: 100%;
}

nav{
	background-color: $strongGreen;

	.img_user {
		border-radius: 50%;
		margin-right: 15px;
	}

	.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
		background-color: $gray-darker;
	}

	.active-language {
		background-color: $gray-darker;
	}

	.language {
		li {
			display: inline-block !important;
		}

		a {
			display: inline-block;
			width: 100%;

			&:hover {
				color: $white;
				text-decoration: none;
			}

			&:focus {
				color: $white;
				text-decoration: none;
			}
		}

		.dropdown-menu {
			width: 170px;

			a {
				&:hover {
					color: $black;
					text-decoration: none;
				}	
			}
		}

		.caret {
			margin-left: 15px;
		}

		img {
			height: 35px;
			margin-right: 10px;
			width: 35px;
		}
	}

	a.brand-logo{
		font-size: 2em;
		margin-left: 20px;
		font-family: 'Pacifico', cursive;
		text-decoration: none;
		&:hover{
			color: white;
		}
		.fa{
			margin-right: 10px;
		}
	}
	ul{
		a{
			padding: 0 20px;
			font-size: 1.1em;
			text-decoration: none;
			&:hover{
				color: white;
				text-decoration: none;
			}
		}
	}
	form{
		display: inline-block;
		.search-box{
			background-image: url('/assets/searchicon.png');
			background-repeat: no-repeat;
			background-position: 8px 3px;
			border: 1px solid white;
			border-radius: 5px;
			background-color: white;
			padding: 2px 8px 2px 35px;
			width: 140px;
			margin-left: 530px;
			height: 25px;
			color: black;
			font-size: 1.1em;
			transition: width .4s ease-in-out;
			&:focus{
				width: 230px;
			}
		}
	}
	input[type=text]:focus:not([readonly]){
		border-bottom: none;
		border: 1px solid white;
		box-shadow: none;
	}
	.glyphicon{
		font-size: 1.2em;
	}
	.dropdown-menu{
		left: -55px;
		width: 150px;
		min-width: 80px;
		li{
			width: 100%;
		}
	}
	
	.notifi-dropdown{
		min-width: 430px;
		left: -280px;
		padding: 0;
		li{
			a{
				padding: 0;
				display: flex;
				align-items: center;
				width: 100%;
				word-wrap: break-word;
				img{
					width: 55px;
					height: 55px;
					margin-right: 8px;
				}
				.notifi-content{
					word-wrap: break-word;
					width: calc(100% - 185px);
					white-space: normal;
				}
				.notifi-time{
					color: #999999;
					width: 140px;
					text-align: right;
				}
				&:hover{
					background-color: transparent;
				}
			}
			line-height: 1;
			color: black;
			display: inline-block;
			padding: 15px 15px;
			border: 1px solid #f1f1f1;
			border-left: none;
			border-right: none;
			&:hover{
				background-color: #f5f5f5;
				transition: background-color .3s ease;
			}
		}
		li.unread{
			background-color: #e7ecf5;
		}
	}
}


footer.page-footer {
  background-color: $strongGreen;
  color: white;

	.title {
		font-weight: bold;
		font-size: 1.5em;
	}

  .fa {
		margin-right: 10px;
	}
}
.pagination {
	margin-top: 20px;
	margin-bottom: 30px;
	margin-left: 400px;
}

#review_title{
  font-size: 18px;
}

.close_form:hover{
  cursor: pointer;
}

.like-song{
  font-size: 18px;
}

.like-song .fa:hover{
  color: rgb(88, 144, 255);
  cursor: pointer;
}

.class1 {
	border-radius: 10%;
	border: 2px solid #efefef;
}

.class2 {
	opacity: 0.5;
}
.sidenav{
	background:#fff;
}
.title-content{
	background:#fff;
	.data-list{
		.active{
	 		text-align: center;
	 	}
	}
	
}
.top-hit{
	background: #FFFFFF;
    box-shadow: 0 2px 12px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    margin-top: 40px;
    float:right;
    width: 22em;
    height: 645px;
}
.tab{
	height: 70px;
	a{
		height: 70px;
		background-color: inherit;
	    float: left;
	    border: none;
	    outline: none;
	    cursor: pointer;
	    padding: 24px 11px;
	    transition: 0.3s;
	    font-size: 17px;
		width: 33.3333%;
		position:relative;
		
		.text{
			position:absolute;
		}
	}
	a:hover {
    	background-color: #ddd;
	}
	a.active {
    	background-color: #ccc;
	}
}

div .song:hover{
	background-color:rgb(0,160,255);
	
}
div .song:hover .song-meta-data{
	.song-title{
		color:#fff;
	}
	.song-artist{
		color:#fff;
	}
}
div.top-hit{
	background: #FFFFFF;
    box-shadow: 0 2px 12px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    margin-top: 40px;
    float:right;
    width: 22em;
    height: 645px;
}
div.tab{
	height: 70px;
}
.content-song{
	.tab-content{
		max-height: 555px;
	}
}

div .song:hover{
	background-color:rgb(0,160,255);
	
}
div .song:hover .song-meta-data{
	.song-title{
		color:#fff;
	}
	.song-artist{
		color:#fff;
	}
}
.tab-song{
	padding-left:0px;
	padding-right: 0px;
}

.category-data-album{
	margin-top: 0px;
}
.category-albums{
    overflow: visible;
    height: 600px;
    overflow-y: scroll;
}
@media screen and (max-width: 767px) {
  .sidenav {
    height: auto;
    padding: 15px;
  }
  .row.content-song {height: auto;} 

}
@media screen and (max-width:1023px){
	.tab-song{
		display:none;
	}
	.category-data-album{
		display:none;
	}
	.person{
		margin: 0 auto;
	}
	.header-title{
		display:none;
	}
}
@media screen and (min-width: 1200px) {
	.row.content-song {
		height: 1000px;
	}
	.sidenav {
	  background-color: #fff;
	  height: 100%;
	}
}