$gray-lighter: #cecece;

.category-board {
	width: 100%;
	background-color: white;
	margin: auto;
	margin-top: 25px;
	margin-bottom: 25px;
	padding: 10px;
	.title-content {
		margin-left: 35px;
		margin-bottom: 30px;
		color: #3cac94;
		.glyphicon-menu-right {
			vertical-align: bottom;
		}
	}
	.category-content {
		text-align: center;
		width: 100%;
		ul {
			width: 100%;
			flex-wrap: wrap;
			display: flex;
			li {
				width: 33%;
				div {
					margin: auto;
					background-color: #EEEEEE;
					box-shadow: 1px 1px 1px 1px $gray-lighter;
					border-radius: 5px;
					position: relative;
					width: 300px;
					height: 140px;
					display: list-item;
					text-decoration: none;
					margin-bottom: 60px;
					margin-left: 20px;
					display: inline-block;
					img {
						width: 100% !important;
						left: 0;
						top: 0;
						border-top-left-radius: 5px;
						border-top-right-radius: 5px;
					}
					.category-name {
						background-color: none;
						position: absolute;
						z-index: 99;
						left: 20px;
						top:20px;
						color: white;
					}
					h4 {
						margin-left: 10px;
						color: gray;
						text-align: left;
						padding-left: 12px;
					}
					a:hover, a:focus {
							text-decoration: none;
						}
				}
			}
		}
	}
}

.combo_check_box {
	z-index: 999;
	position: fixed;
	margin-top: 70px;
	.panel-default {

		#collapse1 {
		}
		.panel-heading {
			color: white;
			width: 100%;
			height: 100%;
			background-color: #3cac94;
			.glyphicon {
				vertical-align: middle;
			}
			a{
				text-decoration: none;
				.glyphicon-chevron-right{
					transition: transform .3s ease-in;
		    		transform:rotate(90deg);
				}
			}
			a.collapsed{
				.glyphicon-chevron-right{
					transition: transform .3s ease-in;
		    		transform:rotate(0deg);
				}
			}
		}
	}
	.checkbox {
		margin-left: 10px;
		margin-right: 10px;
		label {
			color: black;
			font-size: 1em;
			padding-left: 30px;
		}
	}

}
.category_show {
	width: 80%;
	height: 100%;
	margin-left: 12%;
	color: #3cac94;
	text-decoration: none;
	a {
		color: #3cac94;
		&:hover {
			color: #3cac94;;
			text-decoration: none;
		}
	}
	.category-title {
		padding-top: 5px;
		padding-left: 45px;
		margin-bottom: 15px;
		border-bottom: 1px solid gracd y;
		.glyphicon-menu-right {
			vertical-align: sub;
		}

	}
	.song_content_toggle {
		width: 100%;
		margin:auto;
		margin-top: 20px;
		flex-wrap: wrap;
		display: flex;
		.song_element {
			display: none;
			width: 33%;
				.song_in_category {
					width: 300px;
					background-color: white;
					position: relative;
					margin:auto;
					margin-bottom: 35px;
					padding-bottom: 10px;
					box-shadow: 1px 1px 1px 1px #ccc;
					border-radius: 5px;
					a {
						color: black;
						&:hover{
							color:black;
							text-decoration: none;
						}
					}

					.song_cover_img {
						display: block;
						img {
							margin: auto;
							width: 100%;
							display: block;
						}
					}
					.song_props {
						margin-left: 15px;
						margin-right: 15px;
						margin-top: 10px;
						p {
							margin-bottom: 0px;
							white-space: nowrap;
							text-overflow: ellipsis;
			  				max-width: 270px;
			  				overflow: hidden;
		  				}
		  				.song-detail {
		  					.rate {
								.rate_avg {
									display: inline-block;
								}
								p {
									display: inline;
								}
							}		
		  				}
					}
				}				
			}
	}
}