@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville');
@import url('https://fonts.googleapis.com/css?family=Droid+Serif');
@import url('https://fonts.googleapis.com/css?family=Poppins');

$gray-more-lighter: #fcfcfc;
$gray-lighter: #f5f5f5;
$gray: #ccc;
$gray-darker: #bebebe;
$gray-more-darker: #999696;
$white: #fff;
$black: #000;
$strongGreen: #3cac94;

.review-link {
  color: $black;
  display: inline-block;
  text-decoration: none;
  width: 100%;

  &:hover {
    color: $black;
    text-decoration: none;
  }

  &:focus {
    color: $black;
    text-decoration: none;
  }
}

.wrapper {
  display: inline-block;
  height: 100%;
  padding-top: 35px;
  width: 100%;
}

.box {
  width: 390px;

  .review-detail {
    display: inline-block;
    width: 100%;
  }
}

.review {
  margin: 0 auto;
  width: 70%;

  .brand {
    align-items: center;
    background-color: $white;
    border-radius: 5px;
    box-shadow: 1px 1px 1px 1px $gray-darker;
    display: flex;
    padding: 25px 5px;
  }

  .info {
    color: $strongGreen;
    display: inline-block;
    float: left;
    text-align: center;
    width: 50%;

    .author {
      font-size: 2.3em;
      margin-bottom: 10px;
    }

    .song-name {
      font-family: "Libre Baskerville", serif;
      font-size: 3em;
      font-weight: bold;
    }
  }

  .song-rate {
    text-align: center;
    width: calc(45% - 280px);

    .value {
      border-radius: 50%;
      border: 5px solid $strongGreen;
      color: $strongGreen;
      font-size: 3.2em;
      font-weight: bold;
      height: 90px;
      margin: 0 auto;
      padding: 10px 15px 15px;
      width: 90px;
    }
  }

  .left-block {
    padding-top: 35px;

    .link {
      align-items: center;
      border: 1px solid $gray-darker;
      border-radius: 50%;
      color: $black;
      cursor: pointer;
      display: flex;
      font-size: 1.8em;
      height: 50px;
      justify-content: center;
      margin-top: 10px;
      width: 50px;

      &:hover {
        border-color: $black;
        transition: border-color .5s ease;
        text-decoration: none;
      }

      &:focus {
        text-decoration: none;
      }
    }

    .contributor {
      font-size: 1.3em;
      margin-bottom: 10px;

      a {
        color: $black;

        &:focus {
          $color: $black;
          text-decoration: none;
        }

        &:hover {
          $color: $black;
          text-decoration: none;
        }
      }
    }

    .timestamp {
      color: $gray-darker;
      font-weight: bold;
      text-transform: uppercase;
    }
  }

  .right-block {
    font-size: 1.6em;
    padding-top: 30px;

    .song-des {
      font-family: "Poppins", sans-serif;
      font-size: 1.1em;
      line-height: 1.8em;
      margin-bottom: 35px;
    }

    .review-content {
      display: inline-block;
      font-family: "Droid Serif", serif;
      line-height: 1.65em;
      width: 100%;
    }
    
    .review-content::first-letter {
      float: left;
      font-size: 4.8em;
      line-height: 1.1em;
      margin: -.15em .08em -.2em 0;
    }
  }
}

.review_author {
  #review_author {
    display: inline-block;
    padding: 5px;
    width: 100%;

    img {
      border-radius: 50%;
      float: left;
    }
  }

  .author_details {
    display: inline-block;
    float: left;
    margin-left: 10px;
    width: calc(100% - 60px);

    .left-block {
      float: left;
      width: 85%;
    }

    .author-name {
      width: 100%;
    }

    .rating {
      width: 100%;
    }

    .timestamp {
      color: $gray-more-darker;
      float: right;
      text-align: right;
      width: 15%;
    }
  }
}

.review_content {
  margin: 0 auto;
  margin-top: 25px;
  text-align: center;
  width: 80%;

  .btn {
    background-color: $strongGreen;
    font-weight: bold;
    font-size: 1.2em;
    float: left;
    margin-top: 15px;
    text-transform: none;
  }

  .title {
    color: $black;
    display: inline-block;
    font-size: 1.2em;
    font-weight: bold;
    margin: 0 auto;
    margin-bottom: 25px;
    position: relative;
    width: 100%;

    &::before {
      position: absolute;
      content: " ";
      z-index: 3;
      width: 50%;
      top: 50%;
      height: 0%;
      left: 0;
      border-top: 1px solid $gray-darker;
      width: 42%;
    }

    &::after {
      position: absolute;
      content: " ";
      z-index: 3;
      width: 50%;
      top: 50%;
      height: 0%;
      right: 0;
      border-top: 1px solid $gray-darker;
      width: 42%;
    }
  }
}

.fr-box {
  font-size: 1.2em;
	text-align: left;
}

.review-section {
  display: inline-block;
  height: 100%;
  float: right;
  margin-top: 10px;
}

.title-tag {
  border-radius: 3px;
  color: $white;
  display: inline-block;
  font-size: 1.2em;
  font-weight: bold;
  float: left;
  margin-bottom: 15px;
  padding: 5px 15px 8px;
}

.review_section {
  .input-section {
    width: 100%;
  }
  .rate-section {
    width: 100%;
    background-color: white;
    padding: 5px;
    margin-bottom: 15px;
    box-shadow: 1px 1px 1px 1px #ccc;
    border-radius: 5px;
    text-align: left;
    padding-left: 20px;
  }
  input.form-control{
    background-color: $white !important;
    border-bottom: none !important;
    border-radius: 4px !important;
    box-shadow: 1px 1px 1px 1px $gray !important;
    box-sizing:border-box !important;
    font-size: 1.2em !important;
    height: 60px !important;
    margin-bottom: 15px !important;
    margin-top: 15px !important;
    padding: 8px 12px !important;
    width: 100% !important;

    &:focus{
      border-bottom: none !important;
      box-shadow: 1px 1px 1px 1px #ccc !important;
    }
  }
}

.review-component {
  display: inline-block;
  position: relative;
  width: 100%;

  .config {
    position: absolute;
    top: 10px;
    right: 30px;

    a {
      color: $black;
    }
  }
}

.interactive-link {
  color: $strongGreen;
  margin-right: 15px;

  &:focus {
    color: $strongGreen;
    text-decoration: none;
  }

  &:hover {
    color: $strongGreen;
    text-decoration: none;
  }
}

.review-interactive {
  background-color: $gray-more-lighter;
  border-radius: 5px;
  font-size: .9em;
  padding: 25px 30px 15px;
  margin-top: 35px;
  margin-bottom: 35px;
  width: 75%;

  p {
    display: inline-block;
    float: left;
    margin-bottom: 0;
    max-width: 58%;
    word-wrap:break-word;
  }

  .row {
    padding: 0 15px;
    margin-bottom: 5px;
  }

  textarea {
    float: left;
    font-size: .9em;
    height: 45px !important;
    margin-right: 5px;
    resize: none;
    width: calc(100% - 50px);
  }

  .new_comment {
    align-items: center;
    display: flex;
  }

  button {
    background-color: transparent;
    border: 0;
    color: $strongGreen;
    float: left;

    &:focus {
      background-color: transparent;
    }
  }
}

.review-detail {
  padding-left: 15px;
  width: 75%;
}

#comment-textbox {
  margin-left: 15px;
}

#comments_list {
  .comment {
    display: inline-block;
    width: 100%;

    &:hover {
      .config {
        display: inline-block;
      }
    }
  
    .config {
      cursor: pointer;
      display: none;
      float: right;

      .fa {
        color: $gray-darker;
        font-size: .8em;
      }
    }
  }

  .user-name {
    color: $black;
    display: inline-block;
    float: left;
    font-weight: bold;
    margin-right: 10px;

    &:hover {
      color: $black;
      text-decoration: none;
    }

    &:focus {
      color: $black;
      text-decoration: none;
    }
  }
}

.reply-textfield {
  margin-left: 15px !important;
  width: calc(100% - 65px) !important;
}

.form-textfield {
  font-size: .8em !important;
  margin-bottom: 10px !important;
  height: 35px !important;
}

.replies {
  margin-bottom: 5px;

  .comment {
    margin-bottom: 10px;
  }
}

.mili-ava {
  border-radius: 50%;
  float: left;
  height: 35px;
  margin-right: 10px;
  width: 35px;
}

.micro-ava {
  border-radius: 50%;
  float: left;
  margin-left: 45px;
  margin-right: 10px;
  height: 25px;
  width: 25px;
}

.hide{
  display: none;
}

.reply-time {
  display: inline-block;
  font-size: .8em;
  margin-bottom: 5px;
  padding-left: 45px;
  width: 100%;

  .time-stamp {
    color: $gray-more-darker;
    display: inline-block;
    margin-right: 10px;
  }

  .reply-link {
    display: inline-block;
    color: $strongGreen;

    &:hover {
      color: $strongGreen;
      text-decoration: none;
    }

    &:focus {
      color: $strongGreen;
      text-decoration: none;
    }
  }
}

.hide-form {
  display: none !important;
}

.new-rate-container{
  display: inline-block;
}

#like-btn {
  display: inline-block;
}

.bm-btn {
  a {
    color: $black;

    &:hover {
      color: $black;
    }

    &:focus {
      color: $black;
    }
  }
}

.music-player {
  align-items: center;
  border: 1px solid $gray;
  border-radius: 3px;
  background-color: $white;
  display: flex;
  margin-bottom: 15px;
  padding: 15px;

  .song-name {
    display: inline-block;
    font-size: .8em;
    font-weight: bold;
    margin-left: 10px;
  }
}

.user-profile {
  #bookmarked {
    display: inline-block;
    width: 100%;
  }
}
