$white: #fff;
$gray-darker: #ccc;
$yellow: #e0bc47;
$black: rgba(0, 0, 0, .7);
.nav-wrapper{
	box-shadow: 2px 2px 13px 6px #ccc;
}
.hide-on-med-and-down{
	padding-top: 10px;
}
.song_index {
	background-color: $white;
	border-radius: 5px;
	box-shadow: 2px 2px 13px 6px #ccc;
	width: 100%;
	magrin: 0 auto;
	margin-bottom: 20px;
	margin-top: 20px;
	padding: 20px;
	float:left;

	h5 {
		margin-left: 0;
	}
	.song_element {
		position: relative;
		margin-left: 150px;
		.song-info-long{
			margin-left: 130px;
			a {
			cursor: pointer;

			&:hover {
				text-decoration: none;
			}

			&:focus {
				text-decoration: none;
			}
		}
		}
		
	}

	#song_cover_img {
		position: absolute;
		left: -130px;
	}
}


.song_detail {
	background-color: $white;
	width: 100%;
	margin: 0 auto;
	margin-top: 20px;
	padding: 20px 30px;
	box-shadow: 2px 2px 13px 6px #ccc;
	border-left: 6px solid $yellow;
	border-radius: 3px;

	.song_content {
		align-items: center;
		display: inline-block;
		width: 100%;
	}

	.info-section {
		align-items: center;
		display: flex;
		float: left;
		max-width: 70%;

		.song_info {
			display: inline-block;
			float: left;
			margin-left: 30px;
		}

		.song_cover_img {
			display: inline-block;
			float: left;
		}
	}
}

#reviews {
	margin: 0 auto;
}

.review_detail {
	background-color: white;
	box-shadow: 1px 1px 1px 1px $gray-darker;
	border-radius: 3px;
	margin: 0 15px 30px;
	padding: 10px;
	text-align: left;

	.review_author {
		border-bottom: 1px solid #EEEEEE;
	}
	.review_articles {
		margin: 5px;

		p {
			margin-bottom: 0 !important;
		}
	}
}
.review_form {
	display: none;
    position: fixed;
    z-index: 1; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0,0,0,0.4);
    padding-bottom:0;
   
}
.review_form_content {
    /*background-color: #E1F5FE;*/
    margin: auto;
    padding: 20px;
    width: 40%;
    background-color: white;
    border-radius: 10px;
    max-height: 80%;

    label {
    	font-size: 1.5em;
    }

		span .close_form {
    	text-align: right;
		}

    .btn {
    	margin: auto;
    }
}

.rating-stars {
	display: inline-block;
}

.rating-stars ul {
  list-style-type: none;
  padding:0;
  
  -moz-user-select: none;
  -webkit-user-select: none;
}
.rating-stars ul > li.star {
  display: inline-block;
}

.rating-stars ul > li.star > i.fa {
  font-size: 1.5em;
  color: #ccc;
}

.rating-stars ul > li.star.hover > i.fa {
  color: #FFCC36;
}

.rating-stars ul > li.star.selected > i.fa {
  color: #FF912C;
}

.rate_avg {
	display:inline-block;

	.fill_star > i.fa {
		color: #ffbf00;
	}
}

.rate_avg ul > li {
  display: inline-block;
}

.search-group {
	align-items: center;
	background-color: #378eb9;
	border-radius: 3px;
	box-shadow: 1px 1px 1px 1px $gray-darker;
	color: $white;
	display: flex;
	margin: 0 auto; 
	margin-top: 20px;
	margin-bottom: 20px;
	opacity: .8;
	padding: 10px;
	width: 100%;
	float:left;
	select {
		background-color: transparent;
		border: none;
		display: inline-block;
		font-size: 1.2em;
		font-weight: bold;
		width: 195px;

		option {
			background-color: $black;
		}

		&:focus {
			outline: none;
		}
	}

	.search-btn {
		border: none;
		border-radius: 50%;
		background-color: #F8CF4A;
		float: left;
		margin-left: 10px;
		padding: 12px 12px 8px;
	}

	input {
		border-bottom: none !important;
		color: $white !important;
		float: left;
		font-size: 1.3em !important;
		font-weight: bold !important;
		margin: 0 !important;
		margin-bottom: 0;
		padding-left: 10px !important;
		width: 90% !important;

		&::-webkit-input-placeholder {
			color: $white;
		}

		&::-moz-placeholder {
			color: $white;
		}

		&:-ms-input-placeholder {
			color: $white;
		}

		&:-moz-placeholder {
			color: $white;
		}

		&:focus {
			border-bottom: none !important;
			box-shadow: none !important;
		}
	}
}
.tab-pane ol, ul {
   margin-left: 0rem !important;
}
.tab-pane ol, ul > li{
	margin: 0 auto !important;
	padding: 8px 0 10px 0 !important;
    position: relative !important;
    min-height: 41px !important;
    max-height: 100px;
    text-decoration: none !important;
}
.rank {
    display: block;
    color: #000;
    text-align: center;
    font-size: 20px !important;
    line-height: 26px;
    width: 35px;
    float: left;
    margin: 15px 5px 0 0;
}
.song-name{
	margin-left: 40px;
    margin-right: 0px;
    margin-bottom: -15px;
}
.song-name a{
	font-size: 14px !important;
	font-weight: 400 !important;
    font-size: 65% !important;
}
.singer-name {
    margin-left: 40px;
    margin-right: 0px;
}
.singer-name a{
	font-size: 10px !important;
	font-weight: 400 !important;
    font-size: 55% !important;;
}
a:hover{
	text-decoration:none;
	color: grey;
}